
.articulo-ver-todos-main-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}


.ver-todos-box{
    width: 80%;
}

.ver-todos-title{
    display: flex;
    justify-content: space-between;
    height: 5%;
    align-items: center;
    width: 100%;
    border: 2px solid var(--celeste);
    background-color: var(--fondo-celeste-fuerte);
 
}

.title{
    color: var(--blanco-crema);
    margin-left: 2rem;
    font-size: 2rem;
    font-weight: 900;
    padding: 0.5rem;
}

.ver-todos-ul-container{
    width: 100%;
    box-sizing: border-box;
    background-color: var(--fondo-celeste);
    display: flex;
    justify-content: center;
    padding: 2rem 0 2rem 0;
    border-radius: 0 0 12px 12px;
}

.ver-todos-articulos{
    width: 100%;
    height: 100%;
    border-radius: 0px 0px 12px 12px;
    flex-wrap: wrap;
    display: flex;
    margin-left: 15rem;
}

.ver-todos-articulo{
    display: flex;
    flex-direction: column;
    height: 85%;
    width: 18%;
    background-color: var(--azul-ransparente);
    border-radius: 10px;
    transition: 250ms;
    margin: 1rem;
}

.ver-todos-articulo:hover{
    transform: scale(1.08);
    cursor: pointer;
}

.articulo-ver-todos-titulo{
    color: var(--blanco-crema);
    
    font-weight: 900;
}

.volver{
    text-decoration: none;
    font-size: 1.3rem;
    padding-right: 2rem;
    color: #FFF;
}

.volver:hover{
    text-decoration: underline;
}


.articulo-ver-todos-card-container{
    height: 500px;
    width: 80%;
}

.articulo-ver-todos-card{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
}

.card-articulo-content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}


.articulo-ver-todos-img-container{
    width: 100%;
    height: 100%;
    grid-area: "Imagen";
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
}

.articulo-ver-todos-img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.articulo-ver-todos-titulo{
    color:  var(--blanco-crema);
    padding-left: 1.1rem;
    background-color: var(--azul-oscuro);
    padding-top: 1rem;
    padding-bottom: 0.6rem;
}


.articulo-ver-todos-precio-titulo{
    color: var(--azul-medio-oscuro);
    padding: 1rem 8.9rem 1rem 1rem;
    text-align: center;
    font-size: 1.2rem;

}

.articulo-ver-todos-precio{
    color: var(--celeste-claro);
    padding: 1rem 6.7rem 1rem 0.9rem;
    font-size: 2rem;
}

.img-icon-container{
    display: flex;
    justify-content: space-between;
}

.img-icon{
    width: 2rem;
    height: 2rem;
    padding: 3px 3px 0 3px;
}

.esconder{
    display: none;
}

@media only screen and (max-width:940px){
    .ver-todos-articulos{
        flex-wrap: nowrap;
        display: flex;
        flex-direction: column;
    }

    .ver-todos-articulo{
        width: 100%;
        margin-top: 1rem;
    }

    .ver-todos-articulos{
        margin:auto;
        align-items: center;
    }
}

